[run]
omit = 
    tests/*
    */__pycache__/*
    */venv/*
    */dist/*
    old.py
    new2.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
